.App {
	text-align: center;
}

.message {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chat-container {
	margin-left: 25%;
	padding: 0;
	background-color: #fff;
	width: 50%;
	border: 1px solid #000;
}

.input-area {
	height: 195px;
	padding: 20px 30px 10px 20px;
	background-color: #e3ecff;
}

.input-area input {
	resize: none;
	border: none;
	display: block;
	width: 50%;
	height: 10px;
	border-radius: 3px;
	padding: 20px;
	font-size: 13px;
	margin-left: 25%;
	margin-bottom: 5px;
	background-color: #758aff;
}

.input-area input::placeholder {
	color: #fff;
}

.input-area textarea {
	resize: none;
	border: none;
	display: block;
	width: 50%;
	height: 40px;
	border-radius: 3px;
	padding: 20px;
	font-size: 13px;
	margin-left: 25%;
	background-color: #758aff;
}

.input-area textarea::placeholder {
	color: #fff;
}

.input-area button {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background-color: #91caff;
	padding: 1%;
	vertical-align: top;
	margin-top: 5px;
	display: inline-block;
}

#chat {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
	overflow-y: scroll;
	height: 535px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

#chat li {
	padding: 10px 30px;
}

#chat h2, #chat h3 {
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	margin-right: 5px;
}

#chat .name {
	margin-bottom: 5px;
	overflow: hidden;
}

#chat .message {
	padding: 20px;
	color: #fff;
	line-height: 25px;
	max-width: 90%;
	display: inline-block;
	text-align: left;
	border-radius: 5px;
	word-wrap:break-word;
}

#chat .message {
	background-color: #6fbced;
}


#chat::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#chat::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#chat::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}